.Card-red .card{
    background: #1c274a;
    border: 2px solid #4169e1;
    outline: none;
    border-radius: 20px;
}
.slide h2{
    font-weight: bold;
    letter-spacing: 2px;
    border-bottom: 2px dashed #4169e1;
    font-size: 2.3rem;
    color: #faebd7;
    padding: 10px;
    margin: 15px 0;
}.slide h2>span{
    color:#dc143c;
}
.slide {
    margin-bottom: 70px;
}
.card-title{
    font-weight: bold;
    color: #cb1d40;
    letter-spacing: 2px;
}
.slide-index{
    z-index: -1;
}
.carousel-control-prev>.carousel-control-prev-icon{
    background-color: #4169e1;
}
.carousel-control-next>.carousel-control-next-icon{
    background-color: #4169e1;
}